// Form
// --------------------------------------------------------------------------

.widget__form
    display inline-block
    vertical-align top
    width 90%
    margin 0 0 30px

    .form-group
        margin 0 0 20px

    .form-group--email
        position relative

        .form-control
            padding-right 30px

    .form-control
        height 48px

    @media (min-width $screen-xs-min)
        width auto

        .form-control
            width 220px

    @media (min-width $screen-sm-min)
        .form-group
            margin 0 5px 10px 0
