/*!!
 * Theme Name: Céline et Bernard
 * Author: Rémi Bétin
 * Author URI: https://www.celine-bernard.fr
 * Description: Céline et Bernard
 * Version: 1.0
 * Text Domain: celine-bernard
 */

@charset "UTF-8"

// Utilities
// --------------------------------------------------------------------------

@import "utilities/normalize"
@import "utilities/variables"
@import "utilities/utilities"


// Quarks
// --------------------------------------------------------------------------

@import "quarks/core"
@import "quarks/type"
@import "quarks/forms"
@import "quarks/tables"


// Atoms
// --------------------------------------------------------------------------

@import "atoms/grid"
@import "atoms/buttons"
@import "atoms/icons"
@import "atoms/modals"
@import "atoms/written"
@import "atoms/messages"
@import "atoms/pagination"
@import "atoms/pager"
@import "atoms/nav"
@import "atoms/titles"
@import "atoms/form"

// Molecules
// --------------------------------------------------------------------------

@import "molecules/header"
@import "molecules/homepage"
@import "molecules/page"

// Organisms
// --------------------------------------------------------------------------

@import "organisms/header"
@import "organisms/footer"
@import "organisms/hero"
