//
// Hero
// --------------------------------------------------------------------------

.hero
    position: relative
    color $color-dark
    margin 90px 0 0


// Inner
// --------------------------------------------------------------------------

.hero__inner
    position relative
    center($wrapper, 0)

.hero-title
    font-size 2.5rem
    font-weight 300

.hero-title__company
    font-style italic
    font-weight 500

.hero-quote
    font-size 3.4rem
    font-weight bold

.hero-quote__subtext
    font-size 2.6rem
    font-weight 300
    margin 0 0 50px
