//
// Footer
// --------------------------------------------------------------------------

.footer
    background-color $color-gray-dark
    color $color-gray-lighter
    padding 15px
    font-size 1.4rem

    @media (min-width $screen-sm-min)
        font-size 1.6rem

.footer__content
    width 100%

    @media (min-width $screen-md-min)
        width 50%
        margin auto

.footer-link
    display inline-block

    a
        display inline-block
        font-size 1.4rem
        font-weight 300
        color $color-gray-lighter

        @media (min-width $screen-sm-min)
            font-size 1.6rem
